# Files to exclude when creating archive.

.vscode export-ignore
.git export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.textdomain-standard.json export-ignore
/.env export-ignore
/.gitlab-ci.yml export-ignore
/prepros.config export-ignore
/Gruntfile.js export-ignore
/README.md export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpcs.xml.dist export-ignore
/*.bat export-ignore
assets/css-dev export-ignore
assets/js-dev export-ignore
sass export-ignore
css-dev export-ignore
js-dev export-ignore
node_modules export-ignore
build export-ignore
bin export-ignore
inc/libs/composer.json export-ignore
inc/libs/composer.lock export-ignore
lib/composer.json export-ignore
lib/composer.lock export-ignore
vendor-lib/composer.json export-ignore
vendor-lib/composer.lock export-ignore
/vendor export-ignore
/prepros.config export-ignore
pgstheme export-ignore
--DO-NOT-EDIT-FIILES-IN-THIS-FOLDER.txt export-ignore

assets/css/editor-styles* export-ignore
assets/css/login* export-ignore
assets/css/combine* export-ignore
assets/css/plugins export-ignore
assets/css/components export-ignore

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
/.editorconfig eol=lf
/.gitattributes eol=lf
/.gitignore eol=lf
*.css text eol=lf
*.js text eol=lf
*.php text eol=lf
*.po text eol=lf
*.pot text eol=lf
*.less text eol=lf
*.scss text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.json text eol=lf
*.crt text eol=lf
*.xml text eol=lf
*.scss text eol=lf
*.sass text eol=lf
*.gitignore text eol=lf
*.yml text eol=lf
*.dist text eol=lf
LICENSE text eol=lf
*.bat text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.mo binary
*.eot binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary
